# except model files
web_if/model/
training/saved/

# except training data
training/data/
datasets/
!.gitkeep

# except image files
*.jpg
*.png
*.JPG
*.PNG

# except npy files
*.npy

# except execute files
*.pyc

# except venv dir
web_if/venv/

# except .idea
training/.idea/
training/script/.idea/
